{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

# Rerun this script automatically if either source Brewfile is modified.
# hash_personal: {{ include "private_dot_config/homebrew/personal/Brewfile" | sha256sum }}
# hash_work: {{ include "private_dot_config/homebrew/work/Brewfile" | sha256sum }}

echo "💡 Reminder: A source Brewfile was recently modified. If you added a package that belongs on both machines, consider syncing them:"
echo "   code --diff \"{{ .chezmoi.sourceDir }}/private_dot_config/homebrew/personal/Brewfile\" \"{{ .chezmoi.sourceDir }}/private_dot_config/homebrew/work/Brewfile\""
{{- end -}}
