# NOTE:
# EditorConfig and Prettier share some options. To avoid conflicts between them, only configure these options in the .editorconfig file. Prettier will use them instead of its own defaults.
# Refs. https://prettier.io/docs/en/configuration#editorconfig and https://joepkockelkorn.com/blog/combining-gitattributes-editorconfig-and-prettier

# Stop the editor from looking for .editorconfig files in parent directories
root = true

# All files
[*]
# https://www.w3.org/International/questions/qa-html-encoding-declarations
charset = utf-8
# https://aleksandrhovhannisyan.com/blog/crlf-vs-lf-normalizing-line-endings-in-git
end_of_line = lf
# https://stackoverflow.com/q/729692/10015695
insert_final_newline = true
# https://softwareengineering.stackexchange.com/q/121555
trim_trailing_whitespace = true
# https://gist.github.com/germanfrelo/fc3ac17ff5bd78b7bf0786734f15d8b4
indent_style = tab

# Markdown
[*.md]
# https://github.com/DavidAnson/markdownlint/blob/main/doc/md010.md
indent_style = space
# https://github.com/DavidAnson/markdownlint/blob/main/doc/md007.md
indent_size = 2
# https://gist.github.com/germanfrelo/513086438cc38a6dadecb4ff49a46af4
trim_trailing_whitespace = false

# YAML
# https://localheinz.com/articles/2023/02/06/indenting-yaml-files
[*.{yaml,yml}]
indent_style = space
indent_size = 2
