{
  "userSettings": {
    "autoExecutionPolicy": "CASCADE_COMMANDS_AUTO_EXECUTION_OFF",
    "conversationWidth": "CONVERSATION_WIDTH_DEFAULT",
    "customThemeSeedsDark": {
      "background": "#101010",
      "foregroundOverride": "#FFFFFF",
      "primary": "#007acc"
    },
    "customThemeSeedsLight": {
      "background": "#FFFFFF",
      "foregroundOverride": "#101010",
      "primary": "#007acc"
    },
    "enableTerminalSandbox": false,
    "globalPermissionGrants": {
      "allow": [
        "command(cat)",
        "command(echo)",
        "command(find)",
        "command(git branch)",
        "command(git diff)",
        "command(git grep)",
        "command(git log)",
        "command(git ls-files)",
        "command(git ls-tree)",
        "command(git show)",
        "command(git status)",
        "command(grep)",
        "command(head)",
        "command(ls)",
        "command(wc)",
        "read_url(antigravity.google)"
      ]
    },
    "nonWorkspaceFileAccessPolicy": "AGENT_SETTING_POLICY_ASK",
    "remoteControlHostname": "{{ .chezmoi.hostname }}",
    "themeMode": "THEME_MODE_INHERIT"
  }
}
